h1, h2, p, a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: 400;
}

body {
	line-height: 1;
	margin: 0;
}

input:focus {
    outline: none;
}

input {
	all: unset;
}