.cards {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 32px;
    z-index: 2;
    filter: drop-shadow(0 39px 20px hsla(0, 0%, 0%, 0.1425));
}

.verso-card, .recto-card {
    color: white;
}

.verso-card {
    background: no-repeat center/100% url('../../assets/bg-card-back-mobile.png') ;
    width: 286px;
    height: 157px;
    margin-left: 56px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
}

.verso-card p {
    margin: 74px 36px 0 0;
}

.recto-card {
    background: no-repeat center/100% url('../../assets/bg-card-front-mobile.png') ;
    width: 285px;
    height: 156px;
    display: flex;
    flex-direction: column;
    margin-top: -63px;
}

.circles {
    margin: 17.6px 0 0 19px;
    display: flex;
    align-items: center;
}

.plain-circle {
    border-radius: 50px;
    background-color: white;
    height: 30px;
    width: 30px;
}

.border-circle {
    border-radius: 50px;
    border: 1px solid white;
    height: 13.5px;
    width: 13.5px;
    margin-left: 10px;
}

.recto-card h1 {
    margin-left: 19px;
    margin-top: 37px;
    line-height: 23px;
}

.recto-card-subcontainer {
    margin: 18px 20px 0 19px;
}

.recto-card h1 {
    letter-spacing: 2.2px;
    font-size: 18px;
}

.small-info {
    letter-spacing: 1.29px;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 11px;
}

.recto-card-subcontainer {
    display: flex;
}

.recto-card p:first-child {
    flex: 1;
}

@media screen and (min-width: 1150px) {

    .cards {
        justify-content: center;
        align-items: flex-end;
        flex-direction: column-reverse;
        margin: 0 15px 0 0;
    }

    .verso-card {
        background: no-repeat center/100% url('../../assets/bg-card-back-desktop.png') ;
        width: 447px;
        height: 245px;
        display: flex;
        margin-left: 0;
    }

    .verso-card p {
        margin: 111px 57px 0 0;
    }

    .recto-card {
        margin-right: 93px;
        background: no-repeat center/100% url('../../assets/bg-card-front-mobile.png') ;
        width: 447px;
        height: 245px;
        margin: 0 94px 37px 0;
    }

    .circles {
        margin: 28px 0 0 32px;
    }
    
    .plain-circle {
        border-radius: 50px;
        background-color: white;
        height: 47px;
        width: 47px;
    }
    
    .border-circle {
        border-radius: 50px;
        border: 1px solid white;
        height: 21px;
        width: 21px;
        margin-left: 16px;
    }

    .recto-card h1 {
        font-size: 28px;
        margin: 64px 0 0 32px;
        line-height: 36px;
        letter-spacing: 3.42px;
    }

    .small-info {
        letter-spacing: 2px;
        font-size: 14px;
        line-height: 18px;
    }
    
    .recto-card-subcontainer {
        margin: 25.5px 32px 0 32px;
    }

}